/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header settings */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    width: auto;
    height: 150px;
}

/* Logo nel header */

.logo{
    align-self: flex-start;
    height: 150px;
}

/*Navbar settings*/

.navbar{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

ul{
    list-style: none;
}

.nav_link{
    text-decoration: none;  
}



