/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Generali */
body{
    background-image: url(../img/IMG_0521.JPG);
    background-size: cover;
    color: gray;
    background-repeat: no-repeat;
}

/* header settings */

header{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: 150px;
    position: fixed;
}

.header-section{
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    


}

/* Logo nel header */

.logo{
    width: 300px;
    height: 150px;
    padding-right: 150px;
}

/*Navbar settings*/

.navbar{
    padding: 20px;
    margin-right: 250px;
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

ul{
    list-style: none;
}

.nav_link{
    color: white;
    text-decoration: none;
    font-size: 20px; 
    transition: all 0.2s ease;
     
}
.nav_link:hover{
    color: #AE6906 ;
    text-decoration: underline;
    font-size: 23px;
}


